# Entorno virtual
.env/

# Base de datos
db.sqlite3
*.sqlite3

# Archivos de Python compilados
__pycache__/
*.pyc

# Archivos de medios subidos por los usuarios
/media/

# Archivos de índice de búsqueda (Whoosh)
whoosh_index/

# Archivos de sistema operativo
.DS_Store
Thumbs.db